// Colors
$white: #fff;
$black: #000;
$gray-1: #707070;
$gray-2: #c2cfd7;
$gray-3: #f6f6f6;
$pink-1: #ff5672;
$pink-2: #fc758c;
$pink-3: #fe667f;

// Fonts Sizes
$is-size-1: 0.8rem;
$is-size-2: 1rem;
$is-size-3: 1.4rem;
$is-size-4: 1.8rem;
$is-size-5: 2rem;
$is-size-6: 2.4rem;

// Text aling
$text-left: left;
$text-right: right;
$text-center: center;
